@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    font-size: 14px;
    font-weight: normal;
}
#nav-head{ 
    box-sizing: border-box;
    position: absolute;
    height: 64px;
    display: flex;
    left: 65px;
    top: 0px;
    width: -webkit-fill-available;
    background: #ffffff;
    border-bottom: 1px solid #E4E4E7;
    overflow: hidden;
}
#nav-list{
    margin-top: 10px;
} 
.nav-li,.nav-li1,.nav-li-active{
    display: inline-block;
    margin-right: 20px;
    color: #8D8D8D;
    font-family: 'Inter', sans-serif;
}
.nav-li-active,.nav-btn{
    width: 137px;
    height: auto;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #E0DFF8;
    background-color: #F7F6FD;
    color: #5E5ADB;
}
.nav-btn{
    width: -webkit-fill-available;
}
.cross{
    margin-left: 20px;
}
.plus{
    margin-left:0px;
    margin-right: 20px;
}
#img3{
    align-self: center;
    
}
.nav-right {
    position: absolute;
    right: 0;
    margin-top: 10px;
}
.nav-btn.clicked {
    background-color: #a3a3a3;;
}
.kk{
    border: 10px solid black;
    margin-top:15px;
}