.sidebar {
    height: 100%;
    width: 4rem;
    align-items: center;
    background-color: #ffffff;
    border-right: 1px solid #eaecf0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .sidebar_button {
    align-items: center;
    width: fit-content;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin: auto;
  }
  
  .sidebar_button:hover {
    background-color: #e9edf5;
    padding: 0.7rem;
  }
  .down{
    margin-top: 720%;
  }